.User

  &-heading
      height 15em
      display flex
      align-items center
      padding 0 2em

  &-avatar
      max-width 150px
      max-height 150px
      border-radius 50%
      overflow hidden
      margin-right 2em

  &-content
      display grid
      grid-template-columns 5fr 2fr

  &-stats
      padding 1em 0

  &-detailsHeader
      padding 1em 0

  &-actions
      padding .5em 0
      display flex
      justify-content space-between

  &-actionLink
      display block
      padding .5em 0