.subtitle {
  text-align: center;
  padding: 1em 0;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
ul,
p,
figure {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
}
.Header {
  border-bottom: 4px solid #000;
  height: 4em;
  padding: 0 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Navigation-listItem:not(:last-child) {
  margin-right: 0.5em;
}
.Navigation-listLink {
  padding: 0.5em;
}
.SongList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1em;
  padding: 1em;
}
.SongCard {
  border: 4px solid #00f;
}
.SongCard-description {
  padding: 0.5em;
  text-align: center;
}
.SongCard-title {
  margin-bottom: 0.5em;
}
.Footer {
  padding: 2em;
}
.Home {
  display: grid;
  grid-template-areas: "banner" "songs" "join";
  grid-gap: 1em;
}
.Home-songs {
  grid-area: songs;
}
.Home-songsFooter {
  text-align: center;
}
.Home-join {
  grid-area: join;
  text-align: center;
}
.Banner {
  height: 40vh;
  min-height: 20em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Banner-content {
  width: 60%;
  text-align: center;
}
.Banner-text {
  padding: 1em;
}
