.Home
    display grid
    grid-template-areas "banner" "songs" "join"
    grid-gap 1em

    &-songs
        grid-area songs

    &-songsFooter
        text-align center

    &-join
        grid-area join
        text-align center

// Banner
.Banner
    height 40vh
    min-height 20em
    display flex
    justify-content center
    align-items center

    &-content
        width 60%
        text-align center

    &-text
        padding 1em
// Banner
