.Header
    border-bottom 4px solid black
    height 4em
    padding 0 4em
    display flex
    justify-content space-between
    align-items center

.Navigation-list
    display flex

.Navigation-listItem:not(:last-child)
    margin-right .5em

.Navigation-listLink
    padding .5em