// Header
.Header
    border-bottom 4px solid black
    height 4em
    padding 0 4em
    display flex
    justify-content space-between
    align-items center
// Header

// Navigation
.Navigation-list
    display flex

    &Item:not(:last-child)
        margin-right .5em

    &Link
        padding .5em
// Navigation

// SongList
.SongList
    display grid
    grid-template-columns repeat(auto-fill, minmax(200px, 1fr))
    grid-gap 1em
    padding 1em

.SongCard
    border 4px solid blue

    &-description
        padding .5em
        text-align center

    &-title
        margin-bottom .5em
// SongList

// Footer
.Footer
    padding 2em
// Footer

.CommentBar-input
    width 100%
    padding .5em

.Actions
    display flex
    justify-content space-between
    align-items center

    &-button
        padding .5em
        display inline-block

    &-infoItem
        padding .5em

.UserCard
    padding .5em

    &-avatar
        max-width 150px
        max-height 150px
        overflow hidden
        border-radius 50%

    &-detail
        padding 1em 0

    &-count
        padding .5em 0

    &-countItem
        display inline-block

    &-countItem:not(:last-child)
        margin-right .5em

    &-action:not(:last-child)
        margin-right .5em

.Comment
    padding .5em

    &-title
        padding .5em 0

.ResourceList
    display flex
    align-items center
    padding 1em 0

.ResourceList-item
    padding .5em
    margin 0.5em
